<style>
  .wp-title { font-size: 20px; }
  .wp-num { font-size: 5.25rem; font-weight: 500; line-height: 6.25rem }
  .wp-diff { font-size: 3.43rem; line-height: 4.43rem; }
  .wp-diff-direction { font-size: 1.7rem; }
  .wp-color-green { color: #90c564; }
  .wp-color-red { color: #e3524f; }
  .wp-color-orange { color: #e39c4f; }
  .wp-content { position: relative; z-index: 1; }
</style>

<div class="wp-content">
  <div class="wp-title">Inf: offen</div>
  <div class="wp-num">${last}</div>
  <div class="wp-diff wp-color-orange"><span class="wp-diff-direction"></span><span class="wp-diff-value">${prev}</span></div>
</div>

<script>
var charUp = "&#x25B2;";
var charDown = "&#x25BC;";
var charRight = "&#x25B6;";
var a = ${last};
var b = ${prev};
var diffElem = this.elem.find(".wp-diff");

var textClass = "wp-color-orange";
var directionChar = charRight;

var diff = a - b;
var absDiff = Math.abs(diff);
if (diff < 0) {
  directionChar = charUp;
  textClass = "wp-color-green";
} else if( diff > 0) {
  directionChar = charDown;
  textClass = "wp-color-red";
}

diffElem.removeClass("wp-color-green wp-color-red wp-color-orange");
diffElem.addClass(textClass);
diffElem.find(".wp-diff-direction").html(directionChar+"&nbsp;");
diffElem.find(".wp-diff-value").html(absDiff);

</script>
